.submit {
	width: 140px;
	height: 60px;
	background: rgba(2, 173, 79, 0.8);
	transition: all 0.3s ease 0s;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.input__row {
	flex: 0 1 40px;
	width: 350px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
}

.input__row_mini {
	width: 190px;
}

.input__element {
	padding-left: 10px;
}

.input__element_mini {
	margin-left: 10px;
	width: 120px;
}

.close {
	position: fixed;
	top: 0;
	right: 0;
	cursor: pointer;
	font-size: 30px;
	transform: translate(-150%, 50%);
}