.header {
	padding-top: 50px;
	max-width: 1400px;
	margin: 0 auto 50px;
}

.header ul {
	display: flex;
	align-items: center;
	/* justify-content: space-between; */
}

.header ul li {
	display: flex;
}

.header__item {
	flex: 0 1 auto;
}

.header__item_big {
	flex: 1 0 65%;
}

.item-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.item-header__content {
	flex: 0 1 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.item-header__item {}

div.item-header__content {
	justify-content: space-around;
}

.header__item p {
	display: inline-block;
	cursor: pointer;
	transition: all 0.3s ease-in-out 0s;
}

.header__item p:hover {
	color: rgb(167, 243, 144);
}

table.table {
	max-width: 1600px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	margin-bottom: 30px;
}

table.table thead tr {
	display: flex;
	align-items: center;
	margin-bottom: 40px;
}

table.table thead tr th {
	flex: 0 1 25%;
	text-align: center;
}

table.table tbody tr {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 5px;
}

table.table tbody tr td {
	flex: 0 1 25%;
	text-align: center;
}

.pagination {
	margin-bottom: 40px;
}

.pagination nav ul.pagination{
	max-width: 1000px;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

ul.pagination a.pagination__link {
	color: rgb(229, 226, 226);
	text-decoration: none;
}

ul.pagination li {
	border: 1px outset rgba(211, 220, 50, 0);
	border-radius: 3px;
	min-height: 25px;
	min-width: 25px;
	display: flex;
	justify-content:center;
	align-items: center;
	cursor: pointer;
}

ul.pagination .active {
	border: 1px outset rgba(211, 220, 50, .8);
}

.disabled {
	pointer-events: none;
}
